.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
.input {
    border: none;
    border-radius: 0 0 8px 8px;
    padding: 0%;
    width: 91.5%;
    font-size: 1.2em;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    padding-left: 0.5;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.send-button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    border-radius: 50px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #B9CC95;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.border {
    border-radius: 50px
}