form fieldset .heading {
    font-family: 'CircularStd';
    color: #B9CC95;
    font-size: 80px; 
    font-weight: normal;
}

.join-input {
    font-family: 'CircularStd';
}

button#submit.btn:focus {
    outline: 0;
    box-shadow: none!important;
}

input.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #B9CC9570;
    border-color: #B9CC95
}

