.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(233,132,162);
    background: linear-gradient(115deg, rgba(233,132,162,0.3) 0%, rgba(185,204,149,0.3) 50%, rgba(248,213,155,0.3) 100%);
}
  
  .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 60%;
    width: 35%;
    margin-right: 0;
    margin-left: 0;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .outer-container {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }

    /* Responsiveness tweaks */
    .chat-container{
      width: 100%;
      height: 100%;
    }
    /* End of Responsiveness tweaks */

  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .chat-container {
      width: 60%;
    }
  }